<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link href="../css/all.css" rel="stylesheet">
</head>
<body>
  <div class="hd unselectable">
    <span class="hd-title">子模块标题</span>
  </div>
  <div class="bd" style="padding:3px;height:566px;">
    <div class="mod">
      <div class="hd unselectable">
        <span class="hd-title">treegrid</span>
      </div>
      <div class="bd" id="tree" style="height:240px;overflow:auto;"></div>
    </div>
  </div>

  <script src="/sea-modules/seajs/1.3.0/sea.js" data-main="../config"></script>
  <script type="text/javascript">
    seajs.use('../js/treegrid');
  </script>
</body>
</html>

